<div class="albums">
  <h1>Albums</h1>
  <% if @current_user.id == @user.id %>
    <%= form_for(@current_user, url: user_user_photos_path(@current_user), method: :post) do |f| %>
      <div class="field">
        <%= f.label :photos, "ADD PHOTOS" %>
        <span class="feed-choose-photo">
          <%= f.file_field :photos, multiple: true %>
        </span>
        <span>
          <%= f.submit "UPLOAD PHOTOS" %>
        </span>
      </div>
    <% end %>
  <% end %>

  <div class="album-container">
    <%- if @user_photos.length > 0  -%>
      <% @user_photos.each_with_index do |photo, index| %>
        <li class="user-photos-index">
          <a href='/users/<%= @user.id %>/user_photos/<%= index %>'> <%= image_tag photo.small.url, {class: "album-image"}%> </a>
        </li>
      <% end %>
    <%- end -%>
  </div>
</div>
