<!DOCTYPE html>
<html>
  <head>
    <title>FutHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <div data-sticky-container>
        <div class="title-bar" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%;" data-hide-for="large">
          <div class="title-bar-left"  data-responsive-toggle="menu-icon-left" >
            <button class="menu-icon" type="button" data-toggle="menu-icon-left"></button>
            <div class="title-bar-title">
              <a href="/" class="futhub-title">futHub</a>
            </div>
          </div>
          <div class="title-bar-right" data-responsive-toggle="menu-icon-right">
            <div class="title-bar-title menu-icon-div" data-toggle="menu-icon-right">
              <%- if current_user -%>
                <%- if !current_user.profile_photo.file.nil? -%>
                  <a href="#" class="profile-photo-anchor tiny dropdown" style="bottom:0.2em"><%= image_tag current_user.profile_photo.thumb.url, {class: "profile-photo"}%></a>
                <%- else %>
                  <a href="#" class="menu-icon-div" >
                    <i class="fa fa-user-edit fa-lg" style="color: white"></i>
                  </a>
                <%- end %>
              <% else %>
                <span> sign-In </span>
              <% end %>
              <button class="menu-icon" type="button" style="bottom:0.2em"></button>
            </div>
          </div>
        </div>
      </div>

      <div data-sticky-container>
      <div class="top-bar show-for-medium" data-sticky data-options="marginTop:0;" style="width:100%;">
        <div class="top-bar-left">
            <a href="/" class=" futhub-title-large">futHub</a>
        </div>
        <div class="top-bar-right menu">
          <ul class="snip1211 menu">
            <%- if current_user -%>
              <li><a><%= link_to 'My Page', user_path(current_user.id) %></a></li>
            <%- end -%>
            <li><a href="/teams">Local Teams</a></li>
            <li><a href="/tournaments">Tournaments</a></li>
            <!-- <li><a href="#">Fields</a></li> -->
            <li><a><%= link_to 'Search Teams', meetups_path %></a></li>
          </ul>
          <ul class="dropdown menu align-center" data-dropdown-menu>
            <li>
              <%- if current_user -%>
                <%- if !current_user.profile_photo.file.nil? -%>
                  <a href="#" class="profile-photo-anchor"><%= image_tag current_user.profile_photo.thumb.url, {class: "profile-photo-large"}%></a>
                  <ul class="menu">
                    <li class="edit-signout snip1211"><%= link_to 'Edit', edit_user_registration_path, {class: "edit-sign"} %></li>
                    <li class="edit-signout snip1211"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                <% else %>
                  <a href="#" class="menu-icon-anchor-large"><i class="fa fa-user-edit fa-lg" style="color: #FE5D26"></i></a>
                  <ul class="menu">
                    <li class="edit-signout snip1211"><%= link_to 'Edit', edit_user_registration_path, {class: "edit-sign"} %></li>
                    <li class="edit-signout snip1211"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                  <%- end -%>
              <%- else -%>
                  <a href="#" style="color:#FE5D26">SIGN IN/UP</a>
                <ul class="menu">
                  <li class="edit-signout snip1211" ><%= link_to 'Sign In', new_user_session_path, {class: "edit-sign"} %></li>
                  <li class="edit-signout snip1211"><%= link_to 'Sign Up', new_user_registration_path, {class: "edit-sign"} %></li>
                </ul>
              <%- end -%>
            </li>
          </ul>
        </div>
      </div>
      </div>

      <ul class="snip1211 vertical medium-horizontal menu hide-for-medium align-center" id="menu-icon-right">
        <%- if current_user -%>
          <li><%= link_to 'Edit', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>

      <ul class="snip1211 vertical medium-horizontal align-center menu hide-for-medium" id="menu-icon-left">
        <%- if current_user -%>
          <li><a><%= link_to 'My Page', user_path(current_user.id) %></a></li>
        <%- end -%>
        <li><a href="/teams">Local Teams</a></li>
        <li><a href="/tournaments">Tournaments</a></li>
        <!-- <li><a href="#">Fields</a></li> -->
        <li><a><%= link_to 'Search Teams', meetups_path %></a></li>
      </ul>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>
  </body>
</html>
